:root {
    --primary-color: #d5c3fd;
    --secondary-color: #333;
    --text-color: #333;
    --background-color: #fff;
    --light-bg-color: #f4f4f4;
    --white-color: #fff;
    --font-family: Velasans, sans-serif;
    --border-radius: 5px;
    --header-height: 60px;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 30px;
    /* background-color: red; */
    position: fixed;
    top: 0;
}

header{
    background-color: green;
}

#hero{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1580px;
    padding: 100px 40px;
}

.heroHeadline {
    font-size: 7rem;
    font-family: var(--font-family);
    text-align: center;
}

.logoSvg {
    height: 30px;
}

.backgroundOverlay {
    height: 100%;
}
.secound_logo{
    height: 30px;
}
.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s, color 1.5s;
}
